<style>
  footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
  }
</style>

<mat-toolbar color="primary" role="banner">
  <span>Jordan Schnur</span>
  <button mat-button routerLink="/" color="link">Home</button>
  <button mat-button routerLink="/about" color="link">About</button>
  <button mat-button routerLink="/blog" color="link">Blog</button>
  <button mat-button routerLink="/contact" color="link">Contact</button>
</mat-toolbar>


<div class="content" role="main">
  

  


  <!-- Footer -->
  <footer>
    This is a footer dude.
  </footer>

</div>

<router-outlet></router-outlet>
